header {
	align-items: center;
	background-color: #032541;
	display: flex;
	height: 60px;
	justify-content: space-between;
	padding: 0 40px;

	a,
	button {
		font-weight: 500;
		letter-spacing: 0.5px;
	}

	.nav-menu {
		align-items: center;
		display: flex;

		img {
			width: 154px;
			height: 20px;
		}

		nav {
			margin-left: 25px;

			a,
			button {
				margin-right: 20px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	a,
	button {
		text-decoration: none;
		color: #fff;
		font-size: 18px;
		background-color: transparent;
	}

	button {
		border: none;
	}
}

.homepage {
	.hero {
		height: 38vh;
		background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/bgQUBbZ14hfeb975yZ2YzTnAwen.jpg');

		.hero-content {
			padding: 90px 8vw 0;

			.hero-headings {
				color: #fff;
				font-weight: normal;

				h1 {
					font-size: 3rem;
				}

				h2 {
					font-size: 2rem;
				}
			}

			.searchbar {
				padding-top: 40px;

				input {
					width: 70%;
					border: none;
					border-radius: 20px;
					height: 45px;
					font-size: 18px;
					padding-left: 20px;

					&::placeholder {
						letter-spacing: 0.2px;
					}

					&:focus {
						outline: none;
					}
				}

				button {
					background: linear-gradient(to right, rgba(192, 254, 207, 1) 0%, rgba(1, 180, 228, 1) 100%);
					color: #203e56;
					right: 92px;
					top: 1px;
					position: relative;
					display: inline-block;
					border: none;
					border-radius: 20px;
					height: 45px;
					padding: 15px 20px;
					font-size: 16px;
					letter-spacing: 0.2px;
					font-weight: 600;
				}
			}
		}
	}

	&_filter-btns {
		margin-left: 8vw;
		margin-top: 20px;

		button {
			border: 1px solid #01b4e4;
			background: transparent;
			padding: 4px 6px;
			border-radius: 13px;
			font-size: 13px;
			color: #203E56;
			cursor: pointer;
			font-weight: 600;

			&:not(:first-child) {
				margin-left: 20px;
			}

			&.active {
				background: linear-gradient(to right, rgb(192, 254, 207) 0%, rgb(1, 180, 228) 100%);
				cursor: auto;
			}

			&:hover {
				background-color: #01b4e4;
			}
		}
	}

	.grid-section {
		padding: 20px 8vw;

		h3 {
			padding-left: 2.5vw;
			font-size: 1.8rem;
		}

		.thumbs {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			grid-gap: 1rem;
			margin-top: 20px;
			justify-items: center;

			.thumb {
				img {
					max-width: 200px;
					object-fit: contain;
					border-radius: 10px;
					cursor: pointer;

					&:hover {
						box-shadow: 0px 2px 8px 2px #203e56;
						transition: 0.2s ease-out;
					}
				}

				&_mediatype {
					font-size: 12px;
				}

				&_avg_date {
					display: flex;
					justify-content: space-between;
					padding-top: 3px;

					&_avg {
						span {
							font-size: 12px;
							display: inline-block;
							border: 1px solid #000;
							width: max-content;
							border-radius: 50%;
							padding: 2px;
						}
					}
				}

				&_title {
					cursor: pointer;
					max-width: fit-content;
				}
			}
		}
	}
}

.details {
	.heroimage {
		height: 65vh;
		background-size: cover;

		&_customBg {
			background: linear-gradient(to right, rgb(81 81 81) 150px, rgb(89 89 92 / 60%) 100%);
			height: inherit;
		}
	}

	&_card {
		width: 90vw;
		height: 65vh;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 2fr;

		&-left {
			display: flex;
			align-items: center;
		}

		&-image {
			border-radius: 10px;
			height: 400px;
		}

		&-right {
			padding-left: 40px;
			display: flex;
			flex-direction: column;
			align-self: center;
			color: #fff;
			letter-spacing: 0.2px;

			h1 {
				font-size: 2.7rem;
				color: khaki;
			}

			&-userscore {
				span {
					border: 1px solid forestgreen;
					padding: 4px;
					font-size: 14px;
					border-radius: 50%;
				}
			}

			&-tagline {
				opacity: 0.7;
			}

			p {
				padding: 6px 0;
			}

			&-overview {
				padding: 10px 0 0 !important;
				color: khaki;
				font-size: 1.25rem;

				&+p {
					text-align: justify;
				}
			}

			&-genres {
				padding-bottom: 5px;

				span {
					font-size: 14px;

					&:not(:only-child, :last-child) {
						&::after {
							content: '-';
							padding: 2px;
						}
					}
				}
			}
		}
	}
}

.crew,
.cast {
	margin: 50px;

	h2 {
		font-size: 2rem;
		padding-bottom: 20px;
		color: #203E56;
	}

	.thumb {
		display: flex;
		flex-direction: column;
		max-width: 150px;

		img {
			max-width: 150px;
			border-radius: 10px;
		}

		div {
			text-align: center;

			.thumb-name {
				font-weight: 600;
			}

			.thumb-role {
				font-size: 13px;
			}
		}
	}
}

.cast {
	padding-bottom: 120px;

	&-thumbs {
		display: flex;
		overflow-x: scroll;

		.thumb {
			&:not(:first-child) {
				margin: 0 15px;
			}

			margin-bottom: 10px;
		}
	}

	::-webkit-scrollbar {
		-webkit-appearance: none;
		height: 10px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 20px;
		width: 75px;
		background-color: #203E56;
	}
}

// spinner
.spinner {
	margin: 20px auto;
	border: 8px solid transparent;
	border-top: 8px solid #203E56;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.login-page {
	text-align: center;
	color: #203E56;
	margin-top: 80px;

	h1 {
		font-size: 2.5rem;
		color: #203E56;
		margin-bottom: 20px;
	}

	label {
		font-size: 16px;
		width: 100px;
	}

	input {
		width: 170px;
		margin-left: 20px;
		margin-bottom: 20px;
		height: 30px;
	}

	button {
		margin-top: 20px;
		border: none;
		padding: 10px 20px;
		background-color: #203E56;
		color: #fff;
		cursor: pointer;
		font-weight: 600;
	}
}

@media only screen and (max-width:1024px) {
	.homepage {
		.hero {
			.hero-content {
				padding: 40px 8vw 20px 8vw;

				.searchbar {
					padding-top: 20px;
				}
			}
		}
	}
}